div {
    padding: 10px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    /* position: relative; */
    width: 400px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

