<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/user/login.css">
</head>
<body>
    <header></header>
    <!-- <div class="login-wrap"> -->
        <div class="login-box">
            <form action="">
                <h2>Login</h2>
                <div>
                    <label>email</label>
                    <input type="email">
                </div>
                <div>
                    <input type="password">
                </div>
                <div>
                    <label><input type="checkbox" name="" id="">Remember</label>
                    <a href="findPassword.html">비밀번호 찾기</a>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    <!-- </div> -->
</body>
</html>