<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/user/join.css" />
  </head>
  <body>
    <section>
      <form action="">
        <div>
          <label>이름</label>
          <input id="user_name" type="text" />
        </div>
        <div>
          <label>이메일</label>
          <input id="e_mail" type="email" />
        </div>
        <div>
          <label>비밀번호</label>
          <input id="password" type="password" />
        </div>
        <div>
          <label>비밀번호 확인</label>
          <input id="check_password" type="password" />
        </div>
        <div>
          <label>주소</label>
          <input id="adress" type="text" />
        </div>
        <div>
          <label>미정</label>
          <input id="scrite" type="text" />
        </div>
        <div>
          <label>미정</label>
          <input id="" type="text" />
        </div>
        <div>
          <label>미정</label>
          <input id="" type="text" />
        </div>
      </form>
    </section>
  </body>
</html>
